---
layout: naslovna
---

<div class="relative">
    <img src="/images/skola/damjan-pavlica-predavanje.jpeg" alt="Damjan Pavlica predavač" class="block full">
    <div class="o-nama wrapper">
        <h1>Škola koda</h1>
        <h2>Učimo narod programiranju!</h2>
        <p>Škola koda je neprofitna organizacija, posvećena učenju programerskih veština na razumljiv i pristupačan način. Takođe, pružamo širok spektar usluga iz oblasti web dizajna i programiranja.</p>
    </div>
</div>

<section class="siva-pozadina donja-crta-zelena">
  <div class="wrapper">
    <h1 title="Pogledaj sve online kurseve"><a href="/kursevi">Besplatni online kursevi</a></h1>
    <p>Proizvodnja besplatnih interaktivnih kurseva programiranja na srpskom jeziku je osnovna delatnost Škole koda. Sve
        ostale usluge koje pružamo pomažu nam da nastavimo sa proizvodnjom novih materijala.
    </p>
    <div class="boxes">
        {% include kutijice/c.html %}
        {% include kutijice/web.html %}
        {% include kutijice/js.html %}
        {% include kutijice/java.html %}
        {% include kutijice/algoritmi.html %}
        {% include kutijice/inzenjerstvo.html %}
    </div>

    <p>Razne jezike možeš izvršavati u našem <a href="http://skolakoda.org/editor">online editoru</a></p>
  </div>
</section>


<section class="donja-crta-crvena">
    <div class="wrapper">
        <h1>Programerske obuke</h1>
        <div class="flex">
            <div class="usluga">
                {% include svg/team.svg %}
                <h2 title="Saznaj više o IT obukama"><a href="/it-obuka">Grupna obuka</a></h2>
                <p>Organizujemo mentorsku obuku u malim grupama, za prekvalifikaciju u IT sektor. Pristup je prilagođen osobama bez tehničkog obrazovanja.</p>

                <p>Broj mesta je ograničen, pa je potrebno <a href="/prijava">prijaviti se na čekanje</a> kako bi obezbedili mesto na vreme.</p>

                <p>Cena tromesečnog kursa od 100 časova je <span class="cena">240 evra</span>.</p>
                <a class="btn" href="/prijava">Prijavi se</a>
            </div>
            <div class="usluga">
                {% include svg/obuka-zaposlenih.svg %}
                <h2>Kompanijska</h2>
                <p>Obuka zaposlenih za nove tehnologije podiže vrednost čitavog tima. Usluga podrazumeva dolazak u prostorije firme i organizovanje radionica za do desetak polaznika.</p>

                <p>Cena dvočasa iznosi 50 eura u dinarskoj protivrednosti. Jednomesečni kurs od 8 dvočasa iznosi <span class="cena">400 eura</span>.</p>
            </div>
            <div class="usluga">
                {% include svg/individualna.svg %}
                <h2>Individualna</h2>
                <p>Naši developeri pružaju uslugu ličnog mentorstva, preko Skype-a i uživo.</p>
                <p>Individualno mentorstvo podrazumeva kontinuiranu i plansku obuku od strane profesionalaca, čime se razlikuje
                    od
                    <i>ad hoc</i> časova programiranja.</p>
                <p>Cena sata individualne obuke je <span class="cena">20 eura</span>. Minimum obuke 10 časova.</p>
            </div>
        </div>
    </div>
</section>


<section class="siva-pozadina donja-crta-crvena">
    <div class="wrapper">
      <h1>Programerske usluge</h1>
      <div class="flex">
          <div class="usluga">
              {% include svg/responsive.svg %}
              <h2>Izgrada sajtova</h2>
              <p>Budite vidljivi u celom svetu na najbolji način. Osnovni paket sajta podrazumeva: besplatan hosting, prilagodljivi dizajn i optimizaciju.</p>
              <p>Napredni paketi uključuju jedinstvenu URL adresu, kontakt formu, blog i ostalo.</p>
              <p>Cena: od 200 eura.</p>
          </div>
          <div class="usluga">
              {% include svg/aplikacije.svg %}
              <h2>Izgrada aplikacija</h2>
              <p>Izgrada web, mobilnih i desktop aplikacija za vaš biznis.</p>
              <p>Industrija mobilnih aplikacija prolazi kroz neku vrstu zlatne groznice. Da bi ostali relevantni i uspešni, sve što posao zahteva je da imate odličnu mobilnu aplikaciju povezanu sa vašim brendom.</p>

              <p>Cena: Od 600 eura.</p>
          </div>
          <div class="usluga">
              {% include svg/sastanak.svg %}
              <h2>Izrada poslovnih rešenja po meri</h2>
              <p>Razvijamo programe za vođenje poslovanja, upravljanje ljudskim resursima, magacinsko poslovanje, evidenciju prometa i slično.</p>
              <p>Imate neku ideju za koju niste sigurni da li je moguće ostvariti? Kontaktirajte nas.</p>
              <p>Cena: po dogovoru.</p>
          </div>
      </div>
      <a class="btn" href="/kontakt">Naruči</a>
    </div>
</section>


<section id="njuzleter" class="donja-crta-zelena">
    <div class="wrapper njuzleter-wrapper">
      <h1>Želiš da budeš u toku?</h1>
      <p>Prijavi se da dobijaš obaveštenja o novim lekcijama i kursevima Škole koda.</p>
  
      <form class="newslatter-form" action="https://skolakoda-api.herokuapp.com/bilten" method="POST">
        <small><i>Unesi svoj email</i></small>
        <div class="input-small-wrapper">
          <input placeholder="Email" type="email" name="email" required>
          <button>OK</button>
        </div>
      </form>
    </div>
</section>
  

<section class="donja-crta-crvena">
    <div class="wrapper">
        <h1>Naš tim</h1>
        <div class="flex">
            <div class="developer">
                <img src="/images/skola/clanovi/damjan-pavlica.jpg" alt="">
                <h2><a href="/damjan-pavlica">Damjan Pavlica</a></h2>
                <p>Full Stack developer i osnivač Škole koda. Omiljeni jezici: C, Javascript i Python.</p>
            </div>
            <div class="developer">
                <img src="/images/skola/clanovi/dragan-nikolic-kica.jpeg" alt="">
                <h2>Dragan Nikolić Kića</h2>
                <p>Predavač Škole koda i Javascript developer specijalizovan za React/Redux ekosistem.</p>
            </div>
            <div class="developer">
                <img src="/images/skola/clanovi/vladimir-joksimovic.png" alt="">
                <h2>Vladimir Joksimović</h2>
                <p>3D modelar i game developer. Osnovni alati: Maya, Construct, Unreal i Unity3D.</p>
            </div>
        </div>
        <img src="/images/skola/grupne/skola-koda-grupna-odozgo.jpg" class="full grupna" alt="">
    </div>
</section>


<section class="donja-crta-zelena">
    <div class="wrapper">
        <h1>Utisci</h1>
        <div class="flex utisci onama-utisci">
            {% include utisci/milos.html %}
            {% include utisci/mirjana.html %}
            {% include utisci/peja.html %}
            {% include utisci/marijana.html %}
        </div>

        <a href="/utisci">Vidi još utisaka</a>
    </div>
</section>


<section class="wrapper flex">
    <div class="pola">
        <h2 id="naruci">Kako možemo da pomognemo?</h2>
        <p class='podnaslov'>Ukoliko želiš da nešto naručiš, predložiš, pitaš, ne ustručavaj se.</p>
        <p>Odgovaramo na svaku poruku.</p>
        <img src="/images/fore/robot.png" alt="robot">
    </div>

    <div class="pola">
        <form action="https://formspree.io/info@skolakoda.org" method="POST">
          <label for="poruka">Izrazi svoju želju</label><br>
          <textarea name="poruka" id="poruka" required></textarea><br>
          <label for="email">Ostavi svoj email</label><br>
          <input type="email" name="email" id="email" required><br>
          <button type="submit">Pošalji</button>
        </form>
    </div>
</section>
