---
layout: naslovna
---

<div class="relative">
    <img src="/images/skola/damjan-pavlica-predavanje.jpeg" alt="Damjan Pavlica predavač" class="block full">
    <div class="o-nama wrapper">
        <h1>Škola koda</h1>
        <h2>Učimo narod programiranju!</h2>
        <p>Škola koda je udruženje programera posvećeno deljenju veština i učenju programiranja na razumljiv i pristupačan način.</p>
    </div>
</div>

<section class="siva-pozadina donja-crta-zelena">
  <div class="wrapper">
    <h1 title="Pogledaj sve online kurseve"><a href="/kursevi">Besplatni tutorijali</a></h1>
    <p>Proizvodnja besplatnih interaktivnih kurseva programiranja na srpskom jeziku je osnovna delatnost Škole koda. Sve
        ostale usluge koje pružamo pomažu nam da nastavimo sa proizvodnjom novih materijala.
    </p>
    <div class="boxes">
        {% include kutijice/c.html %}
        {% include kutijice/js.html %}
        {% include kutijice/java.html %}
        {% include kutijice/algoritmi.html %}
        {% include kutijice/inzenjerstvo.html %}
    </div>

    <p>Vidi i <a href="/kursevi">ostale materijale</a></p>
  </div>
</section>

<!-- <section id="njuzleter" class="donja-crta-zelena">
    <div class="wrapper njuzleter-wrapper">
      <h1>Želiš da budeš u toku?</h1>
      <p>Prijavi se da dobijaš obaveštenja o novim lekcijama i kursevima Škole koda.</p>

      <form class="newslatter-form" action="https://skolakoda-api.herokuapp.com/bilten" method="POST">
        <small><i>Unesi svoj email</i></small>
        <div class="input-small-wrapper">
          <input placeholder="Email" type="email" name="email" required>
          <button>OK</button>
        </div>
      </form>
    </div>
</section> -->


<section class="donja-crta-crvena">
    <div class="wrapper">
        <h1>Naš tim</h1>
        <div class="flex">
            <div class="developer">
                <a href="/damjan-pavlica"><img src="/images/skola/clanovi/damjan-pavlica.jpg" alt="Damjan Pavlica"></a>
                <h2><a href="/damjan-pavlica">Damjan Pavlica</a></h2>
                <p>Full Stack developer i osnivač Škole koda. Omiljeni jezici: C, Javascript i Python.</p>
            </div>
            <div class="developer">
                <img src="/images/skola/clanovi/dragan-nikolic-kica.jpeg" alt="Dragan Nikolić Kića">
                <h2>Dragan Nikolić Kića</h2>
                <p>Predavač Škole koda i Javascript developer specijalizovan za React/Redux ekosistem.</p>
            </div>
            <div class="developer">
                <img src="/images/skola/clanovi/vladimir-joksimovic.png" alt="Vladimir Joksimović Joxa">
                <h2>Vladimir Joksimović</h2>
                <p>3D modelar i game developer. Osnovni alati: Maya, Construct, Unreal i Unity3D.</p>
            </div>
        </div>
        <img src="/images/skola/grupne/skola-koda-grupna-odozgo.jpg" class="full grupna" alt="">
    </div>
</section>


<section class="donja-crta-zelena">
    <div class="wrapper">
        <h1>Utisci</h1>
        <div class="flex utisci onama-utisci">
            {% include utisci/milos.html %}
            {% include utisci/mirjana.html %}
            {% include utisci/peja.html %}
            {% include utisci/marijana.html %}
        </div>

        <a href="/utisci">Vidi još utisaka</a>
    </div>
</section>

