@import "../base/variables";

/* DEFAULTS */

a {
  color: $citron;
}

a:hover,
a:active,
a:focus {
  outline: none;
}

button,
.btn {
  background-color: transparent;
  border-color: $citron;
  border-width: 2px;
  color: $citron;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: $sm-spacing $lg-spacing;
  transition: background-color 0.6s, color 0.6s;
  &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    background-color: $citron;
    color: $white;
  }
  @media(min-width: $screen-lg-min) {
    font-size: $font-lg;
  }
}

a.btn,
a.btn:hover {
  border-radius: 0;
  border-style: solid;
  text-align: center;
  text-decoration: none;
}

.dugme-kratko {
  width: auto;
}
