@import "../base/variables";

code {
  background-color: $wild-sand;
  display: inline-block;
}

pre {
  background-color: $wild-sand;
  border-radius: 3px;
  line-height: 1.45;
  max-height: 100vh;
  overflow: auto;
  padding: 16px;

  code {
    font-size: 90%;
    width: 100%;
  }
}
