@import "../base/variables";

code {
  background-color: $wild-sand;
  display: inline-block;
}

pre {
  background-color: $wild-sand;
  border-radius: 3px;
  line-height: 1.45;
  margin-bottom: 8px;
  max-height: 100vh;
  overflow: auto;
  padding: 16px;
  white-space: pre-wrap;

  code {
    font-size: 90%;
    width: 100%;
  }
}

a {
  code {
    text-decoration: underline;
  }
}

.izraz {
  code::before {
    content: "> ";
  }
}

.vrednost {
  background-color: #eee;
}