@import "../base/variables";

.ulaz {
  margin-bottom: 0;
  position: relative;
  pre {
    margin-bottom: 8px;
  }
  button {
    bottom: 0;
    position: absolute;
    right: 16px;
    width: auto;
    @media(min-width: $screen-lg-min) {
      font-size: initial;
    }
  }
}

.izlaz,
.vrednost {
  display: block;
  font-family: monospace;
  font-size: smaller;
}

.izlaz {
  background: $mine-shaft;
  color: $white;
  padding: 0 16px;
}

.vrednost {
  text-align: right;
}

.CodeMirror {
  font-size: 1rem;
  height: auto !important;
  letter-spacing: 0;
  word-wrap: normal;
}

.tablet-wrapper {
  background: linear-gradient(to top, $black 33%, $scorpion);
  border-radius: 30px;
  border: 2px solid $silver;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 900px;
  overflow: hidden;
  padding: 40px 30px 12px;

  .kruzic {
    background: linear-gradient(to bottom, $black, $tundora);
    border-radius: 50%;
    height: 16px;
    margin: 6px auto;
    position: relative;
    width: 16px;

    .kockica {
      border-radius: 2px;
      border: 1px solid $tundora;
      bottom: 0;
      height: 6px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 6px;
    }
  }

  iframe {
    background: $white;
    border: 0;
    height: 400px;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
