@use "../base/variables";

a {
  color: $citron;
}

a:hover,
a:active,
a:focus {
  outline: none;
}

a[href^="https://youtu"] {
  background: url(/images/ikonice/youtube.svg) no-repeat right top;
  padding-right: 1.6em;
}

a[href^="/vezb"] {
  background: url(/images/ikonice/star.svg) no-repeat right top;
  padding-right: 1.6em;
}

a.btn,
a.btn:hover {
  border-radius: 0;
  border-style: solid;
  text-align: center;
  text-decoration: none;
}
