.terminal-wrapper {
  overflow-x: hidden;
  input {
    padding: 0;
    margin: 0;
  }
  .terminal {
    width: 800px;
    height: 200px;
    background: #151223;
    color: #e5e5e5;
    overflow-y: auto;
    overflow-x: hidden;
    @media (min-width: $screen-sm-min) {
      height: 400px;
    }
  }
  .blink {
    margin-left: 5px;
  }
  .unos {
    color: inherit;
    background-color: inherit;
    border: 0;
    width: 772px;
  }
  .error {
    color: #d00;
  }

}
