<a href="/kursevi/ucimo-css" class="book" data-id="1">
  <ul class='hardcover_front'>
    <li>
      <div class="inner boja2-bg">
        <h3>CSS</h3>
        <p>Uvod u web dizajn</p>
      </div>
    </li>
    <li></li>
  </ul>
  <ul class='page'>
    <li></li>
    <li><p>Nauči da ulepšavaš stranice, koristeći prilagodljivi dizajn, tipografiju, boje i animacije.</p></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul class='hardcover_back'>
    <li></li>
    <li></li>
  </ul>
  <ul class='book_spine'>
    <li></li>
    <li></li>
  </ul>
</a>
