<a href="/kursevi/prakticni-frontend" class="book" data-id="4">
  <ul class='hardcover_front'>
    <li>
      <div class="inner boja6-bg">
        <h3>Praktični frontend</h3>
        <p>Priprema za rad u firmama</p>
      </div>
    </li>
    <li></li>
  </ul>
  <ul class='page'>
    <li></li>
    <li><p>Razvijamo aplikaciju preko Githuba, po taskovima i pod pritiskom. Koristimo Angular, React i sve ostalo.</p></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul class='hardcover_back'>
    <li></li>
    <li></li>
  </ul>
  <ul class='book_spine'>
    <li></li>
    <li></li>
  </ul>
</a>
