<a href="/kursevi/ucimo-html/" class="book" data-id="1">
  <ul class='hardcover_front'>
    <li>
      <div class="inner boja1-bg">
        <h3>HTML</h3>
        <p>Uvod u web</p>
      </div>
    </li>
    <li></li>
  </ul>
  <ul class='page'>
    <li></li>
    <li><p>Ovo je osnovni kurs neophodan svakome ko želi da razume kako se prave stranice na internetu. Započni web razvoj.</p></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul class='hardcover_back'>
    <li></li>
    <li></li>
  </ul>
  <ul class='book_spine'>
    <li></li>
    <li></li>
  </ul>
</a>
