<a href="/kursevi/ucimo-javascript/" class="book" data-id="2">
  <ul class='hardcover_front'>
    <li>
      <div class="inner boja3-bg">
        <h3>JS</h3>
        <p>Pogramiranje na frontendu</p>
      </div>
    </li>
    <li></li>
  </ul>
  <ul class='page'>
    <li></li>
      <li><p>Nauči da programiraš. Nauči da oživljavaš stranice pomoću interakcije. Nauči da praviš web aplikacije.</p></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul class='hardcover_back'>
    <li></li>
    <li></li>
  </ul>
  <ul class='book_spine'>
    <li></li>
    <li></li>
  </ul>
</a>
