<a href="/kursevi/ucimo-php" class='book' data-id="7">
  <ul class='hardcover_front'>
    <li>
      <div class="inner boja4-bg">
        <span class="ribbon">Novo</span>
        <h3>PHP</h3>
        <p>Backend programiranje</p>
      </div>
    </li>
    <li></li>
  </ul>
  <ul class='page'>
    <li></li>
    <li><p>Nauči da praviš velike serverske aplikacije kao što su blogovi (CMS), forumi i internet prodavnice.</p>
    </li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul class='hardcover_back'>
    <li></li>
    <li></li>
  </ul>
  <ul class='book_spine'>
    <li></li>
    <li></li>
  </ul>
</a>
