<div class="hide-checked knjige-polica">
  <svg class="html">
    <text x="90" y="142" transform="rotate(-90, 28, 150)">HTML</text>
  </svg>
  <svg class="css">
    <text x="95" y="150" transform="rotate(-90, 28, 150)">CSS</text>
  </svg>
  <svg class="js">
    <text x="78" y="155" transform="rotate(-90, 28, 150)">JS</text>
  </svg>
  <svg class="php">
    <text x="68" y="155" transform="rotate(-90, 28, 150)">PHP</text>
  </svg>
  <svg class="sql">
    <text x="90" y="155" transform="rotate(-90, 28, 150)">SQL</text>
  </svg>
  <svg class="nodejs">
    <text x="68" y="150" transform="rotate(-90, 28, 150)">Node.js</text>
  </svg>
  <svg class="frontend">
    <text x="90" y="150" transform="rotate(-90, 28, 150)">Frontend</text>
  </svg>
  <svg class="threejs">
    <text x="115" y="160" transform="rotate(-90, 28, 150)">Three.js</text>
  </svg>
  <svg class="js2">
    <text x="80" y="155" transform="rotate(-90, 28, 150)">JS II</text>
  </svg>
</div>
