<a href="/kursevi/ucimo-sql" class="book" data-id="8">
  <ul class='hardcover_front'>
    <li>
      <div class="inner boja6-bg">
        <span class="ribbon">Novo</span>
        <h3>SQL</h3>
        <p>Uvod u baze podataka</p>
      </div>
    </li>
    <li></li>
  </ul>
  <ul class='page'>
    <li></li>
    <li><p>Nauči da praviš baze podataka i pretražuješ ih. Nauči da barataš velikim podacima.</p></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul class='hardcover_back'>
    <li></li>
    <li></li>
  </ul>
  <ul class='book_spine'>
    <li></li>
    <li></li>
  </ul>
</a>
