<a href="/kursevi/ucimo-threejs" class="book" data-id="9">
  <ul class='hardcover_front'>
    <li>
      <div class="inner boja5-bg">
        <span class="ribbon">Novo</span>
        <h3>Three.js</h3>
        <p>3D grafika na webu</p>
      </div>
    </li>
    <li></li>
  </ul>
  <ul class='page'>
    <li></li>
    <li><p>Nauči 3D grafiku, fizičke simulacije, vizuelizacije podataka, rad sa 3D modelima, igre i animacije. Dodaj treću dimenziju webu.</p></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul class='hardcover_back'>
    <li></li>
    <li></li>
  </ul>
  <ul class='book_spine'>
    <li></li>
    <li></li>
  </ul>
</a>
