<a href="/kursevi/racunarska-nauka/" class="book uvod" data-id="10">
  <ul class='hardcover_front'>
    <li>
      <div class="inner boja5-bg">
        <span class="ribbon">Novo</span>
        <h3>Računarska nauka</h3>
        <p>Uvod u svet programiranja</p>
      </div>
    </li>
    <li></li>
  </ul>
  <ul class='page'>
    <li></li>
    <li><p>Nauči univerzalne programerske obrasce. Nauči da programiraš u pet vodećih jezika.</p></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul class='hardcover_back'>
    <li></li>
    <li></li>
  </ul>
  <ul class='book_spine'>
    <li></li>
    <li></li>
  </ul>
</a>
