{% assign ime = 'Marijana Radulović' %}
{% assign slika = '/images/skola/polaznici/marijana.jpg' %}
{% assign link = 'https://www.facebook.com/marijana227' %}
{% assign tekst = 'Kao neko ko je totalni početnik u ovoj oblasti, dobila sam mnogo više nego što sam mogla da zamislim. Osnovni kurs je potpuno praktično koncipiran i imam sajt kao opipljiv rezultat rada u ovih par meseci. Sve mi je bilo interesantno i imam želju da nastavim da učim. Damjan pored iskustva u programiranju ima i razvijenu društvenu svest i želju da pomaže drugima, što je za svaku preporuku!' %}

{% include utisci/xx-sablon.html %}
