{% assign ime = 'Miloš Trifunović' %}
{% assign slika = '/images/skola/polaznici/milos.jpg' %}
{% assign link = 'https://www.facebook.com/malirobot' %}
{% assign tekst = 'Damjan nije običan predavač, on je onaj koji isto tako uvek uči, istražuje, tako da nema prepreka koje donosi odnos učitelj-učenik. Pri tom će se zadržati baš na onim mestima koje iskrsnu kao najinteresantnija ili najvažnija, prilagođavajući se potrebama radionice, koja je bila prilično široka i obuhvatala Full stack tehnologije.' %}

{% include utisci/xx-sablon.html %}
