{% assign ime = 'Mirjana Zajić' %}
{% assign slika = '/images/skola/polaznici/mirjana.jpg' %}
{% assign link = 'https://www.facebook.com/mirjana.zajic' %}
{% assign tekst = 'Generalni utisak mi je da sam puno naučila, neke stvari koje su mi izgledale strašno, tipa Git, Github, Node.js me uopšte više ne plaše :) a i kod onog što sam znala, saznala sam dosta praktičnih trikova! Kurs je temeljan i sa odličnim planom. Veliki naglasak na praktičnosti, detalji i saveti koje nisam nalazila na online tutorijalima. Damjan je odličan predavač, jako sposoban da oslušne kada nešto zapne. I vrlo uporan u motivisanju da se zadatak završi, nauči.' %}

<!-- Plan rada je koncizan ali atmosfera neformalna, prijatna i vrlo radno inspirativna! :) -->

{% include utisci/xx-sablon.html %}
