{% assign name = 'Angular Wiki Search' %}
{% assign url = 'https://mudroljub.github.io/angular-wiki-search/' %}
{% assign image = 'https://raw.githubusercontent.com/mudroljub/angular-wiki-search/master/screen.png' %}
{% assign description = 'AngularJS module for consuming Wikipedia API.' %}
{% assign source = 'https://github.com/mudroljub/angular-wiki-search' %}

<section class="rad" itemscope itemtype="http://schema.org/WebApplication">
  <h3 itemprop="name">{{name}}</h3>

  <a itemprop="url" href="{{url}}"><img itemprop="image" src="{{image}}" alt="web aplikacija" title="Otvori aplikaciju"></a>
  <p itemprop="description">{{description}}</p>

  <small><a href="{{source}}" title="Vidi izvorni kod web aplikacije"><img src="/images/ikonice/github.svg" class="github" alt="izvorni kod" title="Razvoj aplikacija"> Izvorni kod</a></small>

  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta content="0" itemprop="price">
  </div>
  <div itemprop="author" itemscope itemtype="http://schema.org/Organization">
    <meta content="Škola koda" itemprop="name">
  </div>
</section>
