{% assign name = 'Baza filmova' %}
{% assign url = 'https://skolakoda.org/baza-filmova/' %}
{% assign image = 'https://raw.githubusercontent.com/skolakoda/baza-filmova/master/screen.png' %}
{% assign description = 'Baza filmova, pokazna aplikacija Škole koda u Reactu.' %}
{% assign source = 'https://github.com/skolakoda/baza-filmova' %}

<section class="rad">
  <link href="http://schema.org/WebApplication" />
  <h3>{{name}}</h3>

  <a href="{{url}}"><img src="{{image}}" alt="baza filmova" title="Otvori aplikaciju"></a>
  <p>{{description}}</p>

  <small><a href="{{source}}" title="Vidi izvorni kod aplikacije"><img src="/images/ikonice/github.svg" class="github" alt="izvorni kod" title="Razvoj aplikacija"> Izvorni kod</a></small>
</section>
