{% assign name = 'Mini FRP' %}
{% assign url = 'https://mudroljub.github.io/mini-frp/' %}
{% assign image = 'https://raw.githubusercontent.com/mudroljub/mini-frp/master/screen.jpg' %}
{% assign description = 'Prosta fantasy role-playing igrica u HTML5 canvasu.' %}
{% assign source = 'https://github.com/mudroljub/mini-frp' %}

<section class="rad" itemscope itemtype="http://schema.org/WebApplication">
  <link itemprop="applicationCategory" href="http://schema.org/GameApplication" />
  <h3 itemprop="name">{{name}}</h3>

  <a itemprop="url" href="{{url}}"><img itemprop="image" src="{{image}}" alt="web aplikacija" title="Otvori aplikaciju"></a>
  <p itemprop="description">{{description}}</p>

  <small><a href="{{source}}" title="Vidi izvorni kod aplikacije"><img src="/images/ui/ikonice/github.svg" class="github" alt="izvorni kod" title="Razvoj aplikacija"> Izvorni kod</a></small>

  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta content="0" itemprop="price">
  </div>
  <div itemprop="author" itemscope itemtype="http://schema.org/Organization">
    <meta content="Škola koda" itemprop="name">
  </div>
</section>
