{% assign name = 'Monster' %}
{% assign url = 'https://joxa3d.github.io/MonsterV3/' %}
{% assign image = '/images/projekti/monster.png' %}
{% assign description = 'Monster, animacija za igru u Constructu.' %}
{% assign source = 'https://github.com/joxa3d/MonsterV3' %}

<section class="rad" itemscope itemtype="http://schema.org/WebApplication">
  <link itemprop="applicationCategory" href="http://schema.org/EntertainmentApplication" />
  <h3 itemprop="name">{{name}}</h3>

  <a itemprop="url" href="{{url}}"><img itemprop="image" src="{{image}}" alt="web aplikacija" title="Otvori aplikaciju"></a>
  <p itemprop="description">{{description}}</p>

  <small><a href="{{source}}" title="Vidi izvorni kod aplikacije"><img src="/images/ui/ikonice/github.svg" class="github" alt="izvorni kod" title="Razvoj aplikacija"> Izvorni kod</a></small>

  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta content="0" itemprop="price">
  </div>
  <div itemprop="author" itemscope itemtype="http://schema.org/Organization">
    <meta content="Škola koda" itemprop="name">
  </div>
</section>
