{% assign name = 'Partizani animacija' %}
{% assign url = 'https://mudroljub.github.io/partizani-animacija/' %}
{% assign image = 'https://raw.githubusercontent.com/mudroljub/partizani-animacija/master/screen.png' %}
{% assign description = 'Partizani i Nemci, CSS animacija.' %}
{% assign source = 'https://github.com/mudroljub/partizani-animacija' %}

<section class="rad" itemscope itemtype="http://schema.org/WebApplication">
  <link itemprop="applicationCategory" href="http://schema.org/EntertainmentApplication" />
  <h3 itemprop="name">{{name}}</h3>

  <a itemprop="url" href="{{url}}"><img itemprop="image" src="{{image}}" alt="web aplikacija" title="Otvori aplikaciju"></a>
  <p itemprop="description">{{description}}</p>

  <small><a href="{{source}}" title="Vidi izvorni kod aplikacije"><img src="/images/ui/ikonice/github.svg" class="github" alt="izvorni kod" title="Razvoj aplikacija"> Izvorni kod</a></small>

  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta content="0" itemprop="price">
  </div>
  <div itemprop="author" itemscope itemtype="http://schema.org/Organization">
    <meta content="Škola koda" itemprop="name">
  </div>
</section>
