<aside class="side side-right">
  <form
    method="GET" action="https://www.google.com/search" target="_blank"
    onsubmit="event.preventDefault(); this.q.value += ' site:skolakoda.org'; this.submit(); this.q.value = ''">
    <input name="q" placeholder="&#8981;" value="">
  </form>

  {% if page.layout == 'post' %}
    <div class="podrzi">
      <a href="https://www.paypal.me/skolakoda"><div class="speech">
        <img src="/images/ui/ikonice/podrzi.png" alt="paypal" class="podrzi-paypal">
      </div></a>
      <img src="/images/ui/robot.png" class="podrzi-slika" alt="doniraj ">
    </div>
  {% endif %}
</aside>
