<footer>
  <div class="wrapper footer-wrapper">
    <h2>Povežimo se :)</h2>
    <div class="social">
      <a href="https://www.youtube.com/c/%C5%A0kolakoda"><img src="/images/ikonice/youtube.svg" alt="video-lekcije"></a>
      <a href="https://www.facebook.com/skolakoda/"><img src="/images/ikonice/fb.svg" alt="fb-stranica"></a>
      <a href="https://twitter.com/skolakoda"><img src="/images/ikonice/twitter.svg" alt="twitter"></a>
      <a href="https://www.linkedin.com/company/%C5%A1kola-koda"><img src="/images/ikonice/linkedin.svg" alt="linkedin"></a>
      <a href="https://join.slack.com/t/skolakoda/shared_invite/enQtMzQxODgxMjM3NDYyLTg5MjFiZjAxZjgyYWViMGEzMzIxNTJlNGNhMWU4NzBhYzI5ZWZiZjlmZGUzMDI0MjJkMGIxMDFmYmI5YWYwNjQ"><img src="/images/ikonice/slack.svg" alt="slack"></a>
    </div>
  </div>
</footer>
