<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Škola koda | {{page.title | default: "Učimo narod programiranju!"}}</title>
  {% assign slika = 'https://skolakoda.org/images/ui/pozadina.png' %}
  {% if page.image %}
    {% assign slika = page.image %}
  {% endif %}
  <!-- <link rel="canonical" href="{{site.url}}{{page.url}}" /> -->
  <meta property="og:image" content="{{slika}}" />
  <style>
    {% capture include_to_scssify %}
      {% include css/style.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
  <script>
  const $ = s =>
    document.querySelectorAll(s).length > 1 ? document.querySelectorAll(s) : document.querySelector(s)
  EventTarget.prototype.on = EventTarget.prototype.addEventListener
  </script>
</head>
