<div class="predavac uokvireno">
  <h3>O predavaču</h3>
  <p><img class="author-img circle" src="/images/skola/damjan-mala.jpeg" alt="Damjan Pavlica"> <a href="https://www.linkedin.com/in/damjanpavlica/" target="_blank">Damjan Pavlica</a> je diplomirani politikolog koji je uspešno promenio struku i postao programer. Kao profesionalni Javaskript developer radio je na više desetina domaćih i stranih projekata, između ostalog na novom sajtu nemačke modne kuće Burda. Danas drži kurseve programiranja, prvenstveno za omladinu i nezaposlene.</p>

  <p>Ponosni je otac dve devojčice. U slobodno vreme bavi se razvojem igara i programa otvorenog koda.</p>
</div>
