<div itemscope itemtype="http://schema.org/Person" class="predavac uokvireno">
  <h3>O predavaču</h3>
  <p><img itemprop="image" class="author-img circle" src="/images/skola/damjan-mala.jpg" alt="Damjan Pavlica"> <a href="https://mudroljub.github.io/" itemprop="name">Damjan Pavlica</a> je <span itemprop="jobTitle">programer</span> širokih interesovanja i osnivač Škole koda. Po struci diplomirani politikolog, uspešno je promenio struku i prekvalifikovao se u IT sektor. Kao profesionalni <span itemprop="jobTitle">Javascript developer</span> radio je na više desetina domaćih i stranih projekata. Danas drži kurseve programiranja, prvenstveno za omladinu i nezaposlene.</p>

  <p>Ponosni je otac dve devojčice. U slobodno vreme bavi se razvojem igara i programa otvorenog koda.</p>
</div>
