<div itemscope itemtype="http://schema.org/Person" class="predavac uokvireno">
  <h3>O osnivaču</h3>
  <p><img itemprop="image" class="author-img circle" src="/images/skola/damjan-mala.jpg" alt="Damjan Pavlica"> <a href="/damjan-pavlica" itemprop="name">Damjan Pavlica</a> je diplomirani politikolog, koji je uspešno promenio struku i postao programer. Kao profesionalni <span itemprop="jobTitle">Javascript developer</span> radio je na više desetina domaćih i stranih projekata. Već godinama drži kurseve programiranja, prvenstveno za omladinu i nezaposlene.</p>

  <p>U slobodno vreme bavi se razvojem igara i programa otvorenog koda.</p>
</div>
