{% if paginator.total_pages != 1 %}
<div class="pagination">

  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item" href="/blog"> &lt; </a>
    {% else %}
      <a class="pagination-item" href="{{ paginator.previous_page_path }}"> &lt; </a>
    {% endif %}
  {% else %}
    <span class="pagination-item disabled"> &lt; </span>
  {% endif %}

  <span class="pagination-meta">strana {{ paginator.page }} od {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a class="pagination-item" href="{{ site.baseurl }}{{ paginator.next_page_path }}"> &gt; </a>
  {% else %}
    <span class="pagination-item disabled"> &gt; </span>
  {% endif %}

</div>
{% endif %}
