<div class="simplesharebuttons">
  <!-- Email -->
  <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{site.url}}{{page.url}}"><img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" /></a>

  <!-- Facebook -->
  <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank"><img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>

  <!-- Google+ -->
  <a href="https://plus.google.com/share?url={{site.url}}{{page.url}}" target="_blank"><img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>

  <!-- LinkedIn -->
  <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}{{page.url}}" target="_blank"><img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" /></a>

  <!-- Twitter -->
  <a href="https://twitter.com/share?url={{site.url}}{{page.url}}&amp;text={{page.title}}&amp;hashtags=programiranje" target="_blank"><img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>

  <!-- VK -->
  <a href="http://vkontakte.ru/share.php?url={{site.url}}{{page.url}}" target="_blank"><img src="https://simplesharebuttons.com/images/somacro/vk.png" alt="VK" /></a>

  <!-- Print -->
  <a href="javascript:;" onclick="window.print()"><img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" /></a>
</div>
