<div class="simplesharebuttons">

  <a href="mailto:?Subject=Učimo programiranje&amp;Body=Pomislih%20možda%20ti%20ovo%20bude%20korisno!%20 {{site.url}}{{page.url}}"><img src="/images/ikonice/email.svg" alt="Email" /></a>

  <a href="https://twitter.com/share?url={{site.url}}{{page.url}}&amp;text={{page.title}}&amp;hashtags=programiranje" target="_blank"><img src="/images/ikonice/twitter.svg" alt="Twitter" /></a>

  <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}{{page.url}}" target="_blank"><img src="/images/ikonice/linkedin.svg" alt="LinkedIn" /></a>

  <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank"><img src="/images/ikonice/fb.svg" alt="Facebook" /></a>

  <a href="https://plus.google.com/share?url={{site.url}}{{page.url}}" target="_blank"><img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>
</div>
