@import "../../base/variables";
@import "./varijable";

@media (orientation:landscape) {
  .upper {
    background-size: auto 90%;
    height: $visina-pozadina-xs-polozeno;
  }
  .nav-box {
    height: $visina-nav-xs-polozeno;
    width: 25%;
    transition: 0.4s cubic-bezier(0.4, 0, 1, 1);
    &:hover {
      width: 26%;
      transition: 0.6s;
    }
  }
  .nav-slika {
    height: $visina-slicica-xs;
  }

  @media (min-width: $screen-md-min) {
    .upper {
      height: $visina-pozadina-md-polozeno;
    }
    .nav-box {
      height: $visina-nav-md-polozeno;
    }
    .nav-slika {
      height: $visina-slicica-sm;
    }
  }

  @media (min-width: $screen-lg-min) {
    .upper {
      height: $visina-pozadina-lg-polozeno;
    }
    .nav-box {
      height: $visina-nav-lg-polozeno;
    }
    .nav-slika {
      height: $visina-slicica-lg;
    }
    .blog-novo {
      top: $razmak-lg;
    }
  }

  @media (min-width: $screen-xl-min) {
    .upper {
      font-size: 1em;
    }
    .nav-slika {
      height: $visina-slicica-xl;
      .nodejs {
        height: $visina-slicica-xl;
      }
    }
  }
}  // polozeno
