@import "../../base/variables";
@import "./varijable";

@media (orientation:landscape) {
  .upper,
  .info-text {
    font-size: .6em;
  }
  .gornja-slika {
    height: $visina-pozadina-xs-polozeno;
  }
  .poziv {
    top: $razmak-xs;
    left: $razmak-xs;
  }
  .nav-box {
    height: $visina-nav-xs-polozeno;
    width: 25%;
    transition: 0.4s cubic-bezier(0.4, 0, 1, 1);
    &:hover {
      width: 26%;
      transition: 0.6s;
    }
  }
  .nav-slika {
    height: $visina-slicica-xs;
  }

  @media (min-width: $screen-sm-min) {
    .upper,
    .info-text {
      font-size: .75em;
    }
  }

  @media (min-width: $screen-md-min) {
    .poziv {
      top: $razmak-lg;
      left: $razmak-lg;
    }
    .gornja-slika {
      padding-top: 20px;
      height: $visina-pozadina-md-polozeno;
    }
    .nav-box {
      height: $visina-nav-md-polozeno;
    }
    .nav-slika {
      height: $visina-slicica-sm;
    }
  }

  @media (min-width: $screen-lg-min) {
    .gornja-slika {
      height: $visina-pozadina-lg-polozeno;
    }
    .nav-box {
      height: $visina-nav-lg-polozeno;
    }
    .nav-slika {
      height: $visina-slicica-lg;
    }
    .nove-lekcije {
      bottom: auto;
      top: $razmak-lg;
    }
  }

  @media (min-width: $screen-xl-min) {
    .upper {
      font-size: 1em;
    }
    .gornja-slika {
      // height: $visina-pozadina-xl-polozeno;
    }
    .nav-box {
      // height: $visina-nav-xl-polozeno;
    }
    .nav-slika {
      height: $visina-slicica-xl;
      .nodejs {
        height: $visina-slicica-xl;
      }
    }
  }
}  // polozeno
