@import "../../base/variables";
@import "./varijable";

@media (orientation:portrait) {
  .upper {
    background-size: auto 90%;
    height: $visina-pozadina-xs-uspravno;
  }
  .poziv {
    p {
      display: none;
    }
  }
  .navigation {
    flex-wrap: wrap;
  }
  .nav-box {
    height: $visina-nav-xs-uspravno;
    width: 50%;
    transition: top .6s, left .6s;  // tranzicija sirine ne valja
  }

  @media (min-width: $screen-sm-min) {
    .upper {
      height: $visina-pozadina-sm-uspravno;
    }
    .poziv {
      p {
        display: block;
      }
    }
    .nav-box {
      height: $visina-nav-sm-uspravno;
    }
    .nav-slika {
      height: $visina-slicica-sm;
    }
  }

  @media (min-width: $screen-md-min) {
    .upper {
      font-size: 1em;
      height: $visina-pozadina-md-uspravno;
    }
    .blog-novo {
      top: $razmak-lg;
    }
    .nav-box {
      height: $visina-nav-md-uspravno;
      padding: 0 $razmak-lg;
    }
    .nav-slika {
      height: $visina-slicica-md;
    }
  }

  @media (min-width: $screen-lg-min) {
    .upper {
      height: $visina-pozadina-lg-uspravno;
    }
    .nav-slika {
      height: $visina-slicica-lg;
    }
  }

  @media (min-width: $screen-xl-min) {
    .upper {
      height: 40vh;
    }
  }

  // min visina
  @media (max-height: $min-visina-xs) {
    .naslovna {
      overflow-y: auto;
    }
    .upper {
      height: 150px;
    }
  }
}  // uspravno
