@import "../../base/variables";
@import "./varijable";

.naslovna {
  overflow: hidden;
  transition: background 2s;

  .slika-onama {
    box-shadow: 8px 8px 10px #aaa;
    filter: sepia(0);
    transition: filter .8s;
    &:hover {
      filter: sepia(.5);
    }
  }
}

.upper {
  background-image: url(/images/ui/pozadina.png);
  background-position: bottom;
  background-repeat: no-repeat;
  font-size: .75em;
  overflow: hidden;
  position: relative;
}

.poziv {
  bottom: 5%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  p {
    color: $citron;
  }
}

.raspored {
  position: absolute;
  left: 10px;
  width: 50px;
  bottom: 10px;
  @media (min-width: $screen-md-min) {
    width: 75px;
  }
}

.blog-novo {
  position: absolute;
  right: $razmak-xs;
  text-align: right;
  top: $razmak-xs;
  width: 28%;
  @media (min-width: $screen-md-min) {
    right: $razmak-lg;
  }

  h2 {
    color: $valencia;
    margin-top: 0;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.novi-naslovi {
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  color: $carrot-orange;
}

.nav-box {
  left: 40%;  // za tranziciju
  overflow: hidden;
  padding: 0 $razmak-xs;
  top: 10%;  // za tranziciju
}

.nav-slika {
  height: $visina-slicica-xs;
}

.info-text {
  font-size: .75em;
}
