<p>Slobodno nas kontaktiraj u vezi sa bilo čim.</p>

<form action="https://formspree.io/mudroljub@gmail.com" method="POST">
  <label for="email">Email</label><br>
  <input type="email" name="email" id="email" required><br>
  <label for="poruka">Poruka</label><br>
  <textarea name="poruka" id="poruka" required></textarea><br>
  <button class="btn-primary btn-big" type="submit">Pošalji</button>
</form>

<p>Telefon: <a href="tel:+381659777253">065/9777-253</a></p>

<h2>Adresa</h2>

<p>Ulica Borska 13b (ulaz iz Čelebićke), Miljakovac I, Beograd.</p>

<a href="https://www.google.com/maps/place/%C5%A0kola+koda/@44.749563,20.449589,16z/data=!4m5!3m4!1s0x0:0x2616eb09b1da1c23!8m2!3d44.748527!4d20.4502543" target="_blank"><img src="/images/skola/mapa-skola-koda.png" alt="Škola koda mapa"></a>

<p>Autobusi: 47, 50, 54, 59, 94, 504. Tramvaj: 3.</p>
