<p>Slobodno nas kontaktiraj u vezi sa bilo čim.</p>

<address>
  <p><span class="">✉</span> Email: info&#x40;skolakoda.org</p>

  <p><span class="">✆</span> Telefon: <a href="tel:+381659777253">065/9777-253</a></p>

  <p><span class="">☖</span> Adresa: Borska 13b, Miljakovac I, Beograd.</p>
</address>

<h2>Kako do nas</h2>

<a href="https://www.google.com/maps/place/%C5%A0kola+koda/@44.749563,20.449589,16z/data=!4m5!3m4!1s0x0:0x2616eb09b1da1c23!8m2!3d44.748527!4d20.4502543" target="_blank"><img src="/images/skola/mapa-skola-koda.png" alt="Škola koda mapa"></a>

<p>Autobusi: 47, 50, 54, 59, 94, 504. U blizini staju tramvaj 3 i autobus 48.</p>

<h2>Ostavi poruku</h2>

<form action="https://formspree.io/mudroljub@gmail.com" method="POST">
  <label for="poruka">Poruka</label><br>
  <textarea name="poruka" id="poruka" required></textarea><br>
  <label for="email">Email</label><br>
  <input type="email" name="email" id="email" required><br>
  <button class="btn-primary btn-big" type="submit">Pošalji</button>
</form>
