<a href="/kursevi/prijava" class="btn float-right">Prijavi se</a>

<p>Za kurseve u toku vidi <a href="/raspored">raspored</a>.</p>

<h2>Aktivni kursevi</h2>

<p>Kursevi koje redovno držimo i koje možete pohađati.</p>

<div class="boxes">
  {% include kutijice/web.html %}
  {% include kutijice/js.html %}
  {% include kutijice/frontend.html %}
</div>

<h2>Kursevi u pripremi</h2>

<p>Kursevi za koje se možete prijaviti na čekanje.</p>

<div class="boxes">
  {% include kutijice/racunarska-nauka.html %}
  {% include kutijice/php.html %}
  {% include kutijice/sql.html %}
  {% include kutijice/nodejs.html %}
  {% include kutijice/threejs.html %}
  {% include kutijice/js-napredni.html %}
  {% include kutijice/bez-racunara.html %}
</div>

<h2>Tutorijali</h2>

<div class="boxes">
  {% include kutijice/refaktorisanje.html %}
  {% include kutijice/algoritmi.html %}
  {% include kutijice/inzenjerstvo.html %}
  {% include kutijice/java.html %}
</div>
