<p><b>Škola koda</b> je škola programiranja sa sedištem u Rakovici, posvećena prekvalifikaciji omladine i nezaposlenih u IT sektor. Proizvodimo besplatne tutorijale i nastavne materijale, koji su svima dostupni.</p>

<p>Organizujemo kvalitetnu programersku obuku, po cenama daleko ispod tržišnih. Naši kursevi funkcionišu kao obuka borilačkih veština - članarina je mesečna i vežbaš dok ne postigneš zadovoljavajući nivo.</p>

<p>Školu koda pokrenuo je Damjan Pavlica, politikolog koji je uspešno promenio struku i postao programer. To takođe možeš i ti, potrebno je samo početi!</p>

<h2>Obuka</h2>

<h3>Individualno mentorstvo</h3>

<p>U Školi koda radimo praktične projekte u malim grupama, uz individualno mentorstvo. Trener, odnosno mentor, prati svačiji napredak i nalazi svakom odgovarajuće vežbe, kako bi držao nivo obuke intenzivnim.</p>

<p>Ako neko napreduje brže od ostalih, zadaju mu se dodatne napredne vežbe, da ne stagnira. Ako neko negde zaglavi, dodatno mu objasni.</p>

<h3>Dužina obuke i tempo rada</h3>

<p>Naši kursevi u proseku traju između 4 i 6 meseci. Dužina obuke zavisi od vrste kursa, velične grupe i motivisanosti polaznika.</p>

<p>Termini su uglavnom dnevni, između 10 i 16 časova (vidi <a href="/raspored">raspored</a>). Tempo rada je dva dvočasa nedeljno.</p>

<h3>Cena</h3>

<p>Mesečna članarina, koja uključuje kurs po izboru, materijale i dodatne aktivnosti, iznosi <b class="boja3">3000 din</b>. Za pohađanje dva kursa uporedo, plaća se članarina i po.</p>

<p>Prva nedelja je besplatna. <a href="/kursevi/prijava">Prijavi se</a> na vreme!</p>

{% include o-predavacu.html %}

<p>Drugi o nama: <a href="http://www.nsz.gov.rs/live/info/vesti/u_imo_narod_programiranju.cid39637?page=2" target="_blank">članak Nacionalne službe za zapošljavanje o Školi koda</a></p>

<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "EducationalOrganization",
	"legalName": "Škola koda",
	"url": "https://skolakoda.org/",
	"contactPoint": [{
		"@type": "ContactPoint",
		"telephone": "+381659777253",
		"contactType": "customer service"
	}],
	"logo": "{{site.logo}}",
  "foundingDate": "2014",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Borska 13b",
    "addressLocality": "Beograd",
    "postalCode": "11090",
    "addressCountry": "RS"
  },
	"sameAs": ["https://www.facebook.com/skolakoda/",
		"https://twitter.com/skolakoda",
		"https://www.youtube.com/channel/UCxtuC8KZxqkh4WhNgiH_JTg",
		"https://www.linkedin.com/company/%C5%A1kola-koda"
	]
}
</script>
