<p>Ovo su neke od aplikacija koje razvijamo. Pravimo i po narudžbini.</p>

<h2>Web aplikacije</h2>

<div class="radovi">
{% include radovi/spomenici.html %}
{% include radovi/pub-manager.html %}
{% include radovi/citati.html %}
{% include radovi/bojanka.html %}
{% include radovi/angular-wiki-search.html %}
{% include radovi/power-wiki-search.html %}
</div>

<h2>Igre / animacije</h2>

<div class="radovi">
{% include radovi/tenkici.html %}
{% include radovi/1943.html %}
{% include radovi/mini-frp.html %}
{% include radovi/igrica-politicari.html %}
{% include radovi/kisha.html %}
{% include radovi/kucaca-masina.html %}
{% include radovi/matrix.html %}
</div>

<p>Softver proizveden u Školi koda objavljen je pod MIT licencom za slobodni softver.</p>
