---
title: Blog
---

<div class="blog" itemscope itemtype="http://schema.org/Blog">
  {% for post in paginator.posts %}
    <article class="post uokvireno" itemscope itemType="http://schema.org/BlogPosting">
      <h2 itemprop="headline"><a href="{{post.url | relative_url}}" itemprop="url">{{ post.title | escape }}</a></h2>
      <time datetime="{{post.date | date: "%Y-%m-%d"}}" itemprop="datePublished">{{ post.date | date: "%d. %m. %Y." | downcase }}</time>
      <div class="post-tags">
        {% for tag in post.tags %}
          <a href="{{site.baseurl}}/teme/#{{tag|slugize}}" rel="tag" itemprop="keywords">{{tag}}</a>&nbsp;
        {% endfor %}
      </div>

      <div class="post-summary" itemprop="description">
        {% if post.summary %}
          {{ post.summary }}
        {% else %}
          {{ post.excerpt }}
        {% endif %}
      </div>
    </article>
  {% endfor %}
</div>
{% include pagination.html %}
