---
title: Blog
opis: Blog Škole koda, novosti o kursevima, besplatni tutorijali i autorski članci.
---

<h1>Blog</h1>

<div class="blog" itemscope itemtype="http://schema.org/Blog">
  {% for post in paginator.posts %}
    <article class="post uokvireno" itemscope itemType="http://schema.org/BlogPosting">
      <h2 itemprop="headline"><a href="{{post.url | relative_url}}" itemprop="url">{{ post.title | escape }}</a></h2>
      <time datetime="{{post.date | date: "%Y-%m-%d"}}" itemprop="datePublished">{{ post.date | date: "%d. %m. %Y." | downcase }}</time>

      {% assign author = site.data.authors[post.author] %}
      {% if author %}
      <div class="author-box margin-md-top" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{author.name}}">
        <meta itemprop="url" content="{{author.url}}">
      </div>
      {% endif %}

      {% if post.image %}
        {% assign start = post.image | slice: 0, 1 %}
        {% if start == '/' %}
          <meta itemprop="image" content="{{site.url}}{{post.image}}"></meta>
        {% else %}
          <meta itemprop="image" content="{{post.image}}"></meta>
        {% endif %}
      {% endif %}

      <div class="post-summary" itemprop="description">
        {% if post.opis %}
          {{ post.opis }}
        {% else %}
          {{ post.excerpt | truncatewords:50}}
        {% endif %}
      </div>
    </article>
  {% endfor %}
</div>
{% include pagination.html %}
