// author page
.author-wrapper {
  @media (min-width: $screen-md-min) {
    align-items: center;
    display: flex;
  }

  .author-page-img {
    height: 200px;
    margin-right: 40px;
    min-width: 200px;
    width: 200px;
  }

  &.uokvireno {
    @media (max-width: $screen-sm-max) {
      border: none;
      margin-top: 0;
    }
  }
}

.blog {
  @media (min-width: $screen-sm-min) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;

    @media (min-width: $screen-md-min) {
      width: 48%;
    }
  }
}

.pagination {
  margin-top: 40px;
  a {
    text-decoration: none;
  }
  .pagination-item {
    font-size: 24px;
  }
}
