@use "../base/variables";

footer {
  background: #222;
  color: #ececec;
  margin-top: 40px;
  overflow: auto;
  padding: 8px 0 40px 0;
  text-align: center;

  img {
    margin-right: 4px;
    vertical-align: middle;
    width: 64px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .social {
    a {
      margin-left: 8px;
      @media (min-width: $screen-md-min) {
        margin-left: 16px;
      }
    }
  }
}
