@use "../base/variables";

header {
  background: $mine-shaft;
  background: linear-gradient(to right, $mine-shaft 0%, $bleached-cedar-dark 100%);
  color: $white;

  @media (min-width: $screen-md-min) {
    padding: 0 16px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  a {
    color: $white;
    line-height: 50px;
    text-decoration: none;
    white-space: nowrap;
  }

  .logo {
    display: block;
    font-family: courier, monospace;
    font-weight: bold;
    text-align: center;
  }

  nav {
    @media (min-width: $screen-md-min) {
      display: flex;
      justify-content: space-between;
    }
    a {
      text-align: center;
      @media (max-width: $screen-sm-max) {
        display: none;
      }
      @media (min-width: $screen-md-min) {
        width: 118px;
      }
      &.active,
      &:hover {
        font-weight: bold;
        background: $disco;
        @media (min-width: $screen-md-min) {
          background: $white;
          color: initial;
        }
      }
    }
  }
}

.search-container {
  display: flex;
  input,
  button {
    margin: 0;
  }
  input {
    color: initial;
  }
  button {
    padding: 6px 10px;
    border: 0;
    &:hover {
      background-color: transparent;
    }
  }
}

.burger-wrapper {
  left: $md-spacing;
  position: absolute;
  top: $sm-spacing;
  @media (min-width: $screen-md-min) {
    display: none;
  }
}

@media (max-width: $screen-sm-max) {
  // otvaranje menija
  #burger-checkbox:checked ~ nav {
    a {
      border-top: 1px solid $tundora;
      display: block;
      padding: 0 $md-spacing;
    }
  }
}
