@import "../base/variables";

.boxes a:nth-of-type(6n+1) {
  background: $carrot-orange;
}

.boxes a:nth-of-type(6n+2) {
  background: $citron;
}

.boxes a:nth-of-type(6n+3) {
  background: $disco;
}

.boxes a:nth-of-type(6n+4) {
  background: $valencia;
}

.boxes a:nth-of-type(6n+5) {
  background: $bleached-cedar;
}

.boxes a:nth-of-type(6n) {
  background: $tundora;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 20px;

  a {
    border-radius: 5px;
    color: #FAFBFD;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      width: 375px;
    }
  }

  h3 {
    color: inherit;
  }
}

.boxes.small-boxes {
  h4 {
    font-size: smaller;
  }
  a {
    @media (min-width: $screen-sm-min) {
      width: 250px;
    }
  }
  p {
    display: none;
  }
}

.ikonica-manja,
.ikonica-veca,
.ikonica-velika {
  vertical-align: middle;
}

.ikonica-manja {
  height: 28px;
}

.ikonica-veca {
  height: 32px;
}

.ikonica-velika {
  height: 36px;
}
