$razmak: 30px;

.knjige {
  margin: -$razmak;
  padding-bottom: 40px;

  .book {
  	margin: 60px $razmak;
  }
}

.ikonica-veca,
.ikonica-manja {
  vertical-align: middle;
}

.ikonica-veca {
  height: 32px;
}

.ikonica-manja {
  height: 28px;
}
