.naslovna {

  section {
    overflow: auto;
    padding: 40px 0;
  }

  h1 {
    text-align: center;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .donja-crta-crvena {
    border-bottom: 9px solid #CF4A30;
  }

  .donja-crta-zelena {
    border-bottom: 9px solid #88A825;
  }

  @media (min-width: 1200px) {
    .pola {
        width: 49%;
    }
  }

  .siva-pozadina {
    background-color: #F2F1ED;
  }

  .usluga,
  .developer {
    text-align: center;
    margin-bottom: 40px;
  }

  @media (min-width: 800px) {
    .usluga,
    .developer {
        width: 300px;
    }
  }

  @media (min-width: 1600px) {
    .usluga,
    .developer {
        width: 30%;
    }
  }

  .uokvirene-usluge .usluga {
    border: 1px solid gray;
    padding: 20px;
    border-radius: 20px;
  }

  .usluga img {
    width: 120px;
  }

  .developer img {
    width: 86px;
    border-radius: 50%;
  }

  .bg-image {
    background-image: url("/images/skola/damjan-pavlica-predavanje.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  .tekst-o-nama {
    background: rgba(0, 0, 0, .5);
    color: #fff;
    margin-bottom: 4%;
    margin-top: 4%;
    padding: 40px;
    @media (min-width: 800px) {
      width: 50%;
    }
  }

  .no-padding {
    padding: 0;
  }

}
