@import "../base/variables";

.naslovna {

  .o-nama {
    @media (min-width: $screen-md-min) {
      bottom: 20px;
      color: $cararra;
      left: 10%;
      position: absolute;
      right: 10%;
      text-shadow: 2px 2px $black;
    }

    h1 {
      text-align: left;
      margin-bottom: 0;
      @media (min-width: $screen-lg-min) {
        font-size: 100px;
      }
    }
    h2 {
      margin: 0;
      @media (min-width: $screen-lg-min) {
        font-size: 44px;
      }
    }

  }

  section {
    overflow: auto;
    padding: 40px 0;
  }

  h1 {
    text-align: center;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .donja-crta-crvena {
    border-bottom: 9px solid $valencia;
  }

  .donja-crta-zelena {
    border-bottom: 9px solid $citron;
  }

  .pola {
      width: 100%;
      @media (min-width: $screen-lg-min) {
        width: 49%;
      }
  }

  .siva-pozadina {
    background-color: $cararra;
  }

  .njuzleter-wrapper {
    @media (min-width: $screen-md-min) {
      padding-bottom: 60px;
    }
  }

  .usluga,
  .developer {
    margin-bottom: 40px;
    text-align: center;

    @media (min-width: $screen-md-min) {
      width: 300px;
    }
    @media (min-width: $screen-xl-min) {
      width: 30%;
    }
  }

  .usluga {
    svg {
      fill: $mine-shaft;
      transition-timing-function: ease-in;
      transition: fill 0.6s;
      width: 120px;
    }
    &:nth-child(4n+1) svg:hover {
      fill: $citron;
    }
    &:nth-child(4n+2) svg:hover {
      fill: $disco;
    }
    &:nth-child(4n+3) svg:hover {
      fill: $valencia;
    }
    &:nth-child(4n+4) svg:hover {
      fill: $carrot-orange;
    }
  }

  .developer img {
    width: 86px;
    border-radius: 50%;
  }

  .grupna {
    border-radius: 383px;
  }
}
