@import "../base/variables";

$razmak-xs: 10px;
$razmak-lg: 20px;
$min-visina-xs: 525px;
$visina-slicica-xs: 120px;
$visina-slicica-sm: 140px;
$visina-slicica-md: 174px;
$visina-slicica-lg: 180px;
$visina-slicica-xl: 200px;

// uspravno

$visina-nav-xs-uspravno: $visina-slicica-xs + 75px;
$visina-nav-sm-uspravno: $visina-slicica-sm + 90px;
$visina-nav-md-uspravno: $visina-slicica-md + 106px;
$visina-nav-lg-uspravno: $visina-slicica-lg + 200px;

$visina-pozadina-xs-uspravno: calc(100vh - #{$visina-nav-xs-uspravno} * 2);
$visina-pozadina-sm-uspravno: calc(100vh - #{$visina-nav-sm-uspravno} * 2);
$visina-pozadina-md-uspravno: calc(100vh - #{$visina-nav-md-uspravno} * 2);
$visina-pozadina-lg-uspravno: calc(100vh - #{$visina-nav-lg-uspravno} * 2);

// polozeno

$visina-nav-xs-polozeno: $visina-slicica-xs + 75px;
$visina-nav-md-polozeno: $visina-slicica-md + 130px;
$visina-nav-lg-polozeno: $visina-slicica-lg + 180px;
$visina-nav-xl-polozeno: $visina-slicica-xl + 180px;

$visina-pozadina-xs-polozeno: calc(100vh - #{$visina-nav-xs-polozeno});
$visina-pozadina-md-polozeno: calc(100vh - #{$visina-nav-md-polozeno});
$visina-pozadina-lg-polozeno: calc(100vh - #{$visina-nav-lg-polozeno});
$visina-pozadina-xl-polozeno: calc(100vh - #{$visina-nav-xl-polozeno});

/* ZAJEDNICKO */

.noc {
  background: $mine-shaft;
  // color: $wild-sand;
  //
  // @media (min-width: 800px) {
  //   header nav a.active,
  //   header nav a:hover {
  //     background: $mine-shaft;
  //     color: inherit;
  //   }
  // }
  //
  // b, strong {
  //   color: #88A825;
  // }
  //
  // code {
  //   background-color: #282C34;
  // }
  //
  // .speech:after {
  //   border-color: $mine-shaft transparent transparent $mine-shaft;
  // }
}

.naslovna {
  overflow: hidden;
  transition: background 2s;

  .upper {
    overflow: hidden;
    position: relative;

    .gornja-slika {
      display: block;
      margin-left: 50%;
      max-width: none;
      transform: translateX(-50%);
      user-select: none;
    }
  }

  .slika-onama {
    box-shadow: 8px 8px 10px #aaa;
    filter: sepia(0);
    transition: filter .8s;
    &:hover {
      filter: sepia(.5);
    }
  }
}

.nav-slika,
.knjige-polica {
  height: $visina-slicica-xs;
}

.upper {
  font-size: .75em;
}

.poziv {
  position: absolute;
  z-index: 1;
  p {
    margin-top: 0;
    color: $citron;
  }
}

.nove-lekcije {
  position: absolute;
  right: $razmak-xs;
  text-align: right;
  top: $razmak-xs;
  width: 26%;
  z-index: 1;
  @media (min-width: $screen-sm-min) {
    width: 34%;
  }
  @media (min-width: $screen-md-min) {
    right: $razmak-lg;
    width: 40%;
  }

  h2 {
    color: $valencia;
    margin-top: 0;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  & > a {
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    color: $carrot-orange;
    font-size: .75em;
    @media (min-width: $screen-md-min) {
      font-size: inherit;
    }
  }
}

.nav-box {
  left: 40%;  // za tranziciju
  overflow: hidden;
  padding: 0 $razmak-xs;
  top: 10%;  // za tranziciju
}

/* USPRAVNO */

@media (orientation:portrait) {
  .gornja-slika {
    height: $visina-pozadina-xs-uspravno;
  }
  .poziv {
    bottom: 5%;
    text-align: center;
    width: 100%;
    p {
      display: none;
    }
  }
  .navigation {
    flex-wrap: wrap;
  }
  .nav-box {
    height: $visina-nav-xs-uspravno;
    width: 50%;
    transition: top .6s, left .6s;  // tranzicija sirine ne valja
  }

  @media (min-width: $screen-sm-min) {
    .upper {
      font-size: 1em;
    }
    .gornja-slika {
      height: $visina-pozadina-sm-uspravno;
    }
    .poziv {
      left: $razmak-lg;
      text-align: left;
      width: auto;
      p {
        display: block;
      }
    }
    .nove-lekcije {
      bottom: $razmak-xs;
      top: inherit;
    }
    .nav-box {
      height: $visina-nav-sm-uspravno;
    }
    .nav-slika,
    .knjige-polica {
      height: $visina-slicica-sm;
    }
  }

  @media (min-width: $screen-md-min) {
    .gornja-slika {
      height: $visina-pozadina-md-uspravno;
    }
    .nove-lekcije {
      bottom: 0;
      top: $razmak-lg;
    }
    .nav-box {
      height: $visina-nav-md-uspravno;
      padding: 0 $razmak-lg;
    }
    .nav-slika,
    .knjige-polica {
      height: $visina-slicica-md;
    }
  }

  @media (min-width: $screen-lg-min) {
    .gornja-slika {
      height: $visina-pozadina-lg-uspravno;
    }
    .poziv {
      bottom: auto;
    }
    .nav-slika,
    .knjige-polica {
      height: $visina-slicica-lg;
    }
  }

  @media (min-width: $screen-lg-min) {
    .gornja-slika {
      height: 40vh;
      padding-top: 2vh;
    }
  }

  // min visina
  @media (max-height: $min-visina-xs) {
    .naslovna {
      overflow-y: auto;
    }
    .gornja-slika {
      height: 150px;
    }
  }
}  // uspravno

/* POLOZENO */

@media (orientation:landscape) {
  .upper,
  .info-text {
    font-size: .6em;
  }
  .gornja-slika {
    height: $visina-pozadina-xs-polozeno;
  }
  .poziv {
    top: $razmak-xs;
    left: $razmak-xs;
  }
  .nav-box {
    height: $visina-nav-xs-polozeno;
    width: 25%;
    transition: 0.4s cubic-bezier(0.4, 0, 1, 1);
    &:hover {
      width: 26%;
      transition: 0.6s;
    }
  }
  .nav-slika,
  .knjige-polica {
    height: $visina-slicica-xs;
  }

  @media (min-width: $screen-sm-min) {
    .upper,
    .info-text {
      font-size: .75em;
    }
  }

  @media (min-width: $screen-md-min) {
    .poziv {
      top: $razmak-lg;
      left: $razmak-lg;
    }
    .gornja-slika {
      padding-top: 20px;
      height: $visina-pozadina-md-polozeno;
    }
    .nav-box {
      height: $visina-nav-md-polozeno;
    }
    .nav-slika,
    .knjige-polica {
      height: $visina-slicica-sm;
    }
  }

  @media (min-width: $screen-lg-min) {
    .gornja-slika {
      height: $visina-pozadina-lg-polozeno;
    }
    .nav-box {
      height: $visina-nav-lg-polozeno;
    }
    .nav-slika,
    .knjige-polica {
      height: $visina-slicica-lg;
    }
    .nove-lekcije {
      bottom: auto;
      top: $razmak-lg;
    }
  }

  @media (min-width: $screen-xl-min) {
    .upper {
      font-size: 1em;
    }
    .gornja-slika {
      height: $visina-pozadina-xl-polozeno;
    }
    .nav-box {
      height: $visina-nav-xl-polozeno;
    }
    .nav-slika,
    .knjige-polica {
      height: $visina-slicica-xl;
      .nodejs {
        height: $visina-slicica-xl;
      }
    }
  }
}  // polozeno

/* NAVIGACIJA */

.navigation {
  width: 100%;
  display: flex;
}

.nav-box {
  .nav-naslov {
    margin: 20px 0;
    transition: font-size .4s;
    a:hover {
      text-decoration: underline;
    }
    @media (max-width: $screen-xs-max) {
      margin: 20px 0 10px;
    }
  }

  .nav-slika {
    max-width: none;
  }

  .knjige-polica {
    font-size: 18px;
    overflow: hidden;
    text-align: left;
    width: 50vw;
  }

  &:nth-of-type(1) {
    background: $wild-sand;
    .nav-naslov {
      color: $citron;
    }
  }

  &:nth-of-type(2) {
    background: $white;
    .nav-naslov {
      color: $valencia;
    }
  }

  &:nth-of-type(3) {
    z-index: 1;  // za xs
    background: $mercury;
  }

  &:nth-of-type(4) {
    background: $wild-sand;
    z-index: 1;  // za xs
    .nav-naslov {
      color: $disco;
    }
  }
}

.nav-kontakt {
  form {
    @media (min-width: $screen-lg-min) {
      display: inline-block;
      width: 50%;
    }
  }
}

/* TOGGLE */

input:not(:checked) + .nav-box {
  cursor: pointer;
  text-align: center;
  .nav-slika {
    display: block;
    margin: auto;
  }
  .dropdown {
    pointer-events: none;
  }
}

input:checked + .nav-box {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 9;
  overflow-y: auto;
  height: 100vh;
  top: 0;

  &::after {
    content: '\00d7';
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    right: 4%;
    top: 3%;
  }

  .nav-naslov {
    font-size: $h2-full-size;
    @media (min-width: $screen-lg-min) {
      font-size: $h1-full-size;
    }
  }

  .slika-onama {
    height: auto;
  }

  &.nav-kontakt {
    @media (min-width: $screen-md-min) {
      text-align: right;
    }
  }

  @media (min-width: $screen-md-min) {
    padding: 0 10%;
  }
  @media (min-width: $screen-lg-min) {
    padding: 0 20%;
  }
}

.toggle-hover,
.toggle-checked,
input:checked + .nav-box .toggle-hover,
input:checked + .nav-box .hide-checked {
  opacity: 0;
  transition: opacity 0.6s;
}

.toggle-checked,
input:checked + .nav-box .toggle-hover,
input:checked + .nav-box .hide-checked {
  position: absolute;  // kad je otvoreno da ne zauzima prostor
}

@media (min-width: $screen-md-min) {
  .nav-box:hover {
     .toggle-hover {
        opacity: 1;
     }
  }
}

input:checked + .nav-box {
   .toggle-checked {
      opacity: 1;
      position: static;
   }
}

.hide-checked {
  opacity: 1;
}
