.radovi {
  @media (min-width: $screen-md-min) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.rad {
  border-radius: $sm-spacing;
  border: 1px solid $silver;
  margin-bottom: 40px;
  padding: 20px;

  img {
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  .github {
    width: 20px;
  }

  @media (min-width: $screen-md-min) {
    width: 47%;
  }

  @media (min-width: $screen-xl-min) {
    width: 31%;
  }
}
