@import "../base/variables";

.utisci {
  img {
    border-radius: 50%;
    margin-right: 2px;
    vertical-align: middle;
    width: 50px;
  }
}

.onama-utisci {
  flex-wrap: wrap;
  justify-content: space-between;
  .utisak {
    @media (min-width: $screen-md-min) {
      width: 49%;
    }
  }
}
