---
layout: default
---

{% if page.github %}
  <style media="screen">
    {% include css/github-fork.css %}
  </style>
  <div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
      <a href="https://github.com/skolakoda/{{page.github}}">Fork me on GitHub</a>
    </div>
  </div>
{% endif %}

<p>< Nazad na <a href="/kursevi/" title="online kursevi programiranja">kurseve</a></p>

{{ content }}

{% assign kurs = site.data.kursevi[page.kurs] %}
{% if kurs %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Course",
  "name": "{{kurs.naslov}}",
  "description": "{{kurs.opis}}",
{% if page.image %}
  "image": "{{page.image}}",
{% endif %}
  "provider": {
    "@type": "Organization",
    "name": "Škola koda",
    "sameAs": "https://skolakoda.org/"
  },
  "offers": {
    "price": "3000",
    "priceCurrency": "RSD"
  }
}
</script>
{% endif %}
