---
layout: default
---

{{content}}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "TechArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{site.url}}{{page.url}}"
  },
  "headline": "{{page.title}}",
  "datePublished": "2017-1-1",
{% if page.image %}
  {% assign start = page.image | slice: 0, 1 %}
  {% if start == '/' %}
    "image": "{{site.url}}{{page.image}}",
  {% else %}
    "image": "{{page.image}}",
  {% endif %}
{% endif %}
{% assign author = site.data.authors[page.author] %}
{% if author %}
  "author": {
    "@type": "Person",
    "name": "{{author.name}}",
    "image": "{{author.image}}"
  },
{% endif %}
   "publisher": {
    "@type": "Organization",
    "name": "Škola koda",
    "logo": {
      "@type": "ImageObject",
      "url": "{{site.logo}}"
    }
  },
  "description": "{{page.excerpt}}"
}
</script>
