---
title: Autor&#58; Damjan Pavlica
permalink: /autor/damjan-pavlica
opis: Damjan Pavlica, diplomirani politikolog koji je uspešno promenio struku i postao programer.
---

{% assign username = "damjan" %}
{% assign clanci = site.posts | where:"author",username %}

<section itemscope itemtype="http://schema.org/Person">
  <h1>Autor: <span itemprop="name">{{site.data.authors[username].name}}</span></h1>

  <div class="author-wrapper uokvireno">
    <img class="author-page-img circle" src="https://sr.gravatar.com/userimage/56596340/26e1c70225c1c275aadd8ce7863fa6f9.jpg?size=200" itemprop="image" alt="Damjan Pavlica">
    <div>

      <p>Zdravo, ja sam Damjan, <span itemprop="jobTitle">osnivač</span> Škole koda. Započeo sam sulud poduhvat pisanja <a href="/kursevi">desetak programerskih udžbenika</a> istovremeno. Kursevi koje držim zapravo su sadržaji budućih knjiga. Cela ova priča sa radionicama samo je način da stignem do glavnog cilja, besplatnog računarskog obrazovanja na srpskom jeziku.</p>

      <span class="social">
        <a itemprop="sameAs" href="https://github.com/mudroljub"><img src="/images/ikonice/github.svg" alt="github"></a>

        <a itemprop="sameAs" href="https://twitter.com/DamjanPavlica"><img src="/images/ikonice/twitter.svg" alt="twitter"></a>

        <a itemprop="sameAs" href="https://www.linkedin.com/in/damjanpavlica/"><img src="/images/ikonice/linkedin.svg" alt="linkedin"></a>

        <a itemprop="sameAs" href="https://damjanpavlica.wordpress.com/"><img src="/images/ikonice/wordpress.svg" alt="wordpress-blog"></a>
      </span>
    </div>
  </div>
</section>

<div class="blog">
  {% for post in clanci limit:20 %}
    <article class="post uokvireno">
      <h2><a href="{{post.url | relative_url}}">{{ post.title | escape }}</a></h2>
      <time>{{ page.date | date: "%d. %m. %Y." | downcase }}</time>

      <p class="post-summary">
        {% if post.opis %}
          {{ post.opis }}
        {% else %}
          {{ post.excerpt | truncatewords:50}}
        {% endif %}
      </p>
    </article>
  {% endfor %}
</div>

<!-- <a href="https://mudroljub.github.io/">Damjan Pavlica portfolio</a>  -->