---
title: Kursevi
permalink: /kursevi/
opis: Organizujemo kurseve programiranja za prekvalifikaciju u IT sektor.
---

<h1>Kursevi</h1>

<p>Organizujemo kurseve programiranja u malim grupama. Proizvodimo besplatne nastavne materijale, koji su svima dostupni.</p>

<h2>Programski jezici i tehnologije</h2>

<div class="boxes">
  {% include kutijice/c.html %}
  {% include kutijice/web.html %}
  {% include kutijice/js.html %}
  {% include kutijice/frontend.html %}
  {% include kutijice/react.html %}
  {% include kutijice/js-napredni.html %}
  {% include kutijice/java.html %}
</div>

<h2>Jezički nezavisna znanja</h2>

<div class="boxes">
  {% include kutijice/algoritmi.html %}
  {% include kutijice/inzenjerstvo.html %}
  {% include kutijice/refaktorisanje.html %}
  {% include kutijice/blockchain.html %}
  {% include kutijice/bez-racunara.html %}
</div>

<h2>Materijali u pripremi</h2>

<div class="boxes small-boxes">
  {% include kutijice/php.html %}
  {% include kutijice/nodejs.html %}
  {% include kutijice/threejs.html %}
  {% include kutijice/react-native.html %}
  {% include kutijice/redux.html %}
  {% include kutijice/sql.html %}
  {% include kutijice/git.html %}
  {% include kutijice/animacije.html %}
</div>