@import "variables";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

p {
  margin: 20px 0;
}

ul {
  padding-left: 16px;
}

li {
  margin: 4px 0;
}

img {
  max-width: 100%;
}

time {
  color: $boulder;
  font-style: italic;
}

address {
  font-style: normal;
}
