@use "variables";

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hide {
  display: none;
}

.center {
  text-align: center;
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

.circle {
  border-radius: 50%;
}

.disabled {
  color: $silver;
}

.full {
  width: 100%;
}

.post-content .full,
.extra-full {
  left: 50%;
  margin-left: -50vw;
  max-width: none;
  position: relative;
  width: 100vw;
  z-index: 1;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.text-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.overflow-x {
  overflow-x: auto;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.no-margin {
  margin: 0;
}

.cena {
  color: $disco;
}