@import "variables";
@import "fonts";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $mine-shaft;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  @media (min-width: $screen-md-min) {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}

h1,
h2,
h3,
h4 {
  line-height: normal;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h1,
h2,
h3 {
  a {
    color: inherit;
    text-decoration: none;
  }
}

h1 {
  font-size: $h1-md;
}

@media (min-width: $screen-lg-min) {
  h1 {
    font-size: $h1-lg;
  }
}

p {
  margin: 20px 0;
}

b,
strong {
  color: $tundora;
}

header,
footer {
  font-size: 0.75em;

  b,
  strong {
    color: inherit;
  }
}

.tiny {
  font-weight: 100;
}

.uvuceno {
  margin-left: 40px;
}