@use "variables";
@use "fonts";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $mine-shaft;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  @media (min-width: $screen-md-min) {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}

h1,
h2,
h3,
h4 {
  line-height: normal;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h1,
h2,
h3 {
  a {
    color: inherit;
    text-decoration: none;
  }
}

h1 {
  font-size: $h1-md;
}

@media (min-width: $screen-lg-min) {
  h1 {
    font-size: $h1-lg;
  }
}

b,
strong {
  color: $tundora;
}

header,
footer {
  font-size: 0.75em;

  b,
  strong {
    color: inherit;
  }
}

.uvuceno {
  margin-left: 40px;
}

.biografija {
  p:first-line {
    font-weight: bold;
    color: #444;
  }
  p::first-letter {
    color: crimson;
    font-family: sans-serif;
    font-size: 200%;
    padding-right: 2px;
    font-weight: normal;
  }
}