/* COLORS */

// paleta
$bleached-cedar-dark: #221526;
$bleached-cedar: #35203B;
$citron: #88A825;
$disco: #911146;
$valencia: #CF4A30;
$carrot-orange: #ED8C2B;

// nijanse sive
$black: #000;
$mine-shaft: #323232;
$tundora: #434343;
$scorpion: #5C5C5C;
$mid-gray: #68686C;
$boulder: #7A7A7A;
$gray: #858585;
$silver: #C1C1C1;
$mercury: #e3e3e3;
$wild-sand: #F6F6F6;
$white: #FFF;

/* BREAKPOINTS */

$screen-sm-min: 600px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 800px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
$screen-xl-min: 1600px;
$screen-lg-max: ($screen-xl-min - 1);

/*
Usage:
  @media (max-width: $screen-xs-max) { ... }
  @media (min-width: $screen-sm-min) { ... }
  @media (max-width: $screen-md-max) { ... }
  @media (min-width: $screen-lg-min) { ... }
*/

/* SPACING */

$xs-spacing: 4px;
$sm-spacing: 8px;
$md-spacing: 16px;
$lg-spacing: 32px;
$xl-spacing: 64px;

/* TYPOGRAPHY */

$h1-md: 2em;
$h1-lg: 2.5em;
$font-lg: 120%;
