@import "../base/variables";

$wrapper-width-md: 80%;
$wrapper-width-lg: 68%;

.wrapper {
  // padding: 0 $wrapper-padding;
  margin: auto;

  form {
    button,
    .btn {
      display: block;
    }
  }

  @media (min-width: $screen-md-min) {
    width: $wrapper-width-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $wrapper-width-lg;
  }
}
