@import "../base/variables";

$wrapper-width-sm: 92%;
$wrapper-width-md: 80%;
$wrapper-width-lg: 68%;

.wrapper {
  margin: auto;
  width: $wrapper-width-sm;

  // form {
  //   button,
  //   .btn {
  //     display: block;
  //   }
  // }

  @media (min-width: $screen-md-min) {
    width: $wrapper-width-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $wrapper-width-lg;
  }
}
